    <%= form_for :users do |f|%>
     
      <div>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.label :firstname %><br>
        <%= f.text_field :firstname %>
      </div>
      <div>
        <%= f.label :lastname %><br>
        <%= f.text_field :lastname %>
      </div>
      <div>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "Update" %> 
      </div>
    <% end %>

